<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Night Market</title>
    <link rel="stylesheet" href="/static/confirmation.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Night Market</h1>
    </header>
    <div class="navbar">
      <nav>
        <a href="http://127.0.0.1:5000/">Homepage</a>
        <a href="http://127.0.0.1:5000/search">Search</a>
        <a href="http://127.0.0.1:5000/cart">My cart</a>
        <a href="http://127.0.0.1:5000/logout">Logout</a>
      </nav>
      <div>
        <div class="announce"> {{username}} </div>
      </div>
    </div>
    <div class="loginform">
      <div class="formhead">
        <h1>Xác nhận</h1>
      </div>
      <hr />
      <br />
      <div>
        <p><b> Tên người dùng:</b>{{ username }}</p>
        <b> Số điện thoại người nhận:</b> <br />
        <input required name="phoneNumber" placeholder="Nhập số điện thoại..." />
        <p><b> Giá trị đơn hàng:</b> {{ total }}$</p>
        <input value="{{ total }}" type="hidden">
        <input value="{{ product_id }}" type="hidden">
        <b> Địa chỉ giao hàng:</b> <br />
        <input
          id="delivery-address"
          placeholder="Nhập địa chỉ giao hàng..."
          required
        />
        <br />
        <div class="pay-option">
          <p><b>Thanh toán: </b></p>
          <span class="option" id="Visa" onclick="selectOption(this)"
            ><i class="fab fa-cc-visa" style="font-size: 40px"></i
          ></span>
          <span class="option" id="Mastercard" onclick="selectOption(this)"
            ><i class="fab fa-cc-mastercard" style="font-size: 40px"></i
          ></span>
          <span class="option" id="Paypal" onclick="selectOption(this)"
            ><i class="fab fa-cc-paypal" style="font-size: 40px"></i
          ></span>
          <span class="option" id="ApplePay" onclick="selectOption(this)"
            ><i class="fab fa-cc-apple-pay" style="font-size: 40px"></i
          ></span>
          <input name="payment" type="hidden" id="payment" required>
        </div>
        <br />
        <div id="card_number" style="display: none;">
          <b> Card Number: </b> <br />
          <input name="card_number" id="card_number_input" required placeholder="Nhập mã số thẻ..." />
        </div>

        <script></script>
        <div class="buttons">
          <button class="custom-button" onclick="redirect()">Quay lại giỏ hàng</button>
          <button class="custom-button" onclick="submit()">Confirm</button>
        </div>
      </div>

    </div>
    <footer>
      <div class="description">
        <b>Night Market Shop - Website bán quần áo uy tín số 1 thế giới</b>
        <br />
        <hr />
        <p>
          Với kinh nghiệm 200 năm buôn bán quần áo, chúng tôi tự tin đem đến cho
          bạn những trải nghiệm tuyệt vời nhất các bạn có thể tìm thấy trên
          Internet
        </p>
      </div>
      <div class="contact">
        <b>Liên hệ</b> <br />
        <hr />
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a> <br />
        <a
          style="width: 200px; border-radius: 20px"
          href="http://127.0.0.1:3000/BTL-WebDesign/about-us.html"
        >
          About Us</a
        >
      </div>
    </footer>
  </body>
  <script>
    var options = document.querySelectorAll(".option");

    function selectOption(option) {
      var isCurrent = option.classList.contains("current");

      options.forEach(function (elem) {
        elem.classList.remove("current");
      });

      if (!isCurrent) {
        option.classList.add("current");
        selectPayment(option.id)
        if(option.id == "Visa" || option.id == "Mastercard"){
          document.getElementById("card_number").style.display = "block"
          document.getElementById("card_number_input").setAttribute("required","")
        }
        else {
          document.getElementById("card_number").style.display = "none"
          document.getElementById("card_number_input").removeAttribute("required")
        }
      }
      else {
              document.getElementById("card_number").style.display = "none"
      }
    }

    function selectPayment(type){
      let payment = document.getElementById("payment")
      payment.value = type
    }
    function redirect(){
      window.location.href = "http://127.0.0.1:5000/cart"
    }
    function submit() {
      let payment = document.getElementsByClassName("current");
      payment = payment[0].id

      var currentDate = new Date();

      var day = currentDate.getDate();
      var month = currentDate.getMonth() + 1;
      var year = currentDate.getFullYear();

      var formattedDay = day < 10 ? '0' + day : day;
      var formattedMonth = month < 10 ? '0' + month : month;
      var formattedYear = year.toString().slice(-2);
      var hours = currentDate.getHours();
      var minutes = currentDate.getMinutes();
      var seconds = currentDate.getSeconds();
      var formattedHours = hours < 10 ? '0' + hours : hours;
      var formattedMinutes = minutes < 10 ? '0' + minutes : minutes;
      var formattedSeconds = seconds < 10 ? '0' + seconds : seconds;
      var dateString = formattedDay + '/' + formattedMonth + '/' + formattedYear + ' ' + formattedHours + ':' + formattedMinutes + ':' + formattedSeconds;


      var card_number = document.getElementById("card_number_input").value
      var address = document.getElementById("delivery-address").value

      let data = {
        payment: payment,
        date: dateString,
        card_number: card_number,
        address: address
      }

      fetch("/confirmation/confirm", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {"Content-Type": "application/json"}
      }).then((e) => {
          alert("Đã tạo đơn thành công, đơn hàng sẽ được giao trong vài ngày tới");
          window.location.href = "http://127.0.0.1:5000/"
        });
    }
  </script>
</html>
