{% extends 'logged-in-base.html' %}
{% block content %}
    <div class="main">
      <section class="content">
        {% for i in range(number_of_item) %}
        <article class="product">
          <img
            src="{{ clothes[i][3] }}"
            alt=""
            class="zoom-able-image"
          />
          {{ clothes[i][1] }} <br />
          Giá {{ clothes[i][4] }}$ <br />
          <button>Mua ngay</button>
        </article>
        {% endfor %}
      </section>
      <div class="categories">
        <div class="categories_head"><b>Categories</b></div>
        <hr />
        <div class="menu">
          <ul>
            <li> <a href="/item?category=Áo phông"> Áo phông </a> </li>
            <li> <a href="/item?category=Áo sơ mi"> Áo sơ mi </a> </li>
            <li> <a href="/item?category=Áo khoác"> Áo khoác </a> </li>
            <li> <a href="/item?category=Hoodie"> Hoodie </a> </li>
            <li> <a href="/item?category=Đồ mùa hè"> Đồ mùa hè </a> </li>
            <li> <a href="/item?category=Đồ mùa thu"> Đồ mùa thu </a> </li>
            <li> <a href="/item?category=Đồ mùa đông"> Đồ mùa đông </a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pagination">
        {% if current_page > 1 %}
        <a href="/item?category={{ category }}&page={{ current_page - 1 }}" class="pagination-button"> < </a>
        {% endif %}

        {% for page in range(1, total_pages + 1) %}
            {% if page == current_page %}
                <span class="current-page">{{ page }}</span>
            {% else %}
                <a href="/item?category={{ category }}&page={{ page }}" class="other-page">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if current_page < total_pages %}
        <a href="/item?category={{ category }}&page={{ current_page + 1 }}" class="pagination-button"> > </a>
        {% endif %}
    </div>
{% endblock %}